<html>
	<head>
		<title> Cidade Reclama </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!--bootstrap-->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> <!--bootstrap-->
		<link rel="stylesheet" type="text/css" href="../_Css/Login.css"> <!--puxa o css-->
	</head>
	<body>
		<!--menu com bootstrap-->
		<nav class="navbar navbar-expand-lg navbar-light  scrolling-navbar fixed-top navbar navbar-dark bg-dark">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" a href="../PagInicial.html"  id="botao1">Home</a>	<span class="sr-only">(current)</span></a>
					</li>
		
					<li class="nav-item active">
						<a class="nav-link"  href="../_Paginas/Mapa.html"  id="botao1">Mapa</a> <span class="sr-only">(current)</span></a>
					</li> 
				  
					<a class="nav-link active" a href="../_Paginas/QuemSomos.html"  id="botao1">Quem Somos</a><span class="sr-only">(current)</span></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
			  
					<a class="nav-link active" a href="../_Paginas/Cadastro.html"  id="botao1">Cadastro</a> <span class="sr-only">(current)</span></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
			  
					<a class="nav-link active" a href="../_Paginas/Login.html"  id="botao1">Login</a> <span class="sr-only">(current)</span></a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>
			  
				</ul>
				<form class="form-inline my-2 my-lg-0">
				  <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
					<button class="btn btn-primary" type="submit">Search</button>
				</form>
			 </div>
		</nav>
		<!--fim do meunu-->
		
			<div class = "form" align = "center">
				<form action = "">
					<div id = "tabela">
					
						</br>
						<h1 id = "tituloLog1"> <b> Login </b> </h1>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
							<!--frases curtas--> <small id= "frase" style = "color: black;"> Nós nunca vamos compartilhar seu e-mail com mais ninguém.</small>
						<div class="form-group">
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
						</div>
			
						<input type="button" onclick="funcao1()" value="Login" id = "botao"> 
					</div>
				</form>
			</div>
	</body>
</html>